<div class="wrapper">

    <h2>Вас приветсвует приложение о фильмах</h2><br>


    <mat-tab-group>
        <mat-tab label="Информация о портале">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi cumque eos excepturi expedita explicabo facere, fugiat iste, itaque, molestiae repudiandae vitae voluptates? Animi blanditiis doloremque laudantium nobis recusandae, soluta velit?
        </mat-tab>
        <mat-tab label="Дополнительная информация">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, alias asperiores mollitia
                perferendis quaerat rem reprehenderit unde. Ea facilis hic labore laboriosam modi qui quos, voluptates?
                Eligendi labore nihil vitae.
            </div>
            <div>Aliquam animi, aspernatur blanditiis consequatur consequuntur cum cupiditate dolore dolorem dolores
                earum ex explicabo, laboriosam molestias nihil nostrum, officia optio perspiciatis quas quisquam
                reiciendis rem repellendus rerum sequi vero voluptatum?
            </div>
        </mat-tab>
        <mat-tab label="Контакты"> Content 3 </mat-tab>
    </mat-tab-group>
</div>


