:host {
    display: block;
    margin: auto;
    max-width: 1170px;
}
.header-search {
    text-align: center;
    flex: 1 1 auto;
    padding: 0 40px;
}
.header-search .mat-form-field {
    width: 100%;
}
.gridList-footer {
    text-align: center;
    margin: 60px auto 70px;
}