<mat-toolbar>
    <span class="header-favorites">
        Избранные: {{
        (countFavoriteFilms <= 1) ? countFavoriteFilms+' фильм' :
        (1>countFavoriteFilms<=4) ? countFavoriteFilms+' фильма' :
        countFavoriteFilms+' фильмов'
        }}
    </span>

    <span class="header-search">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Введите название фильма..." value=""
                   (input)="findMovieByName($event)">
          </mat-form-field>
        </form>
    </span>

    <span class="header-sort">
        <mat-form-field>
            <mat-select [(value)]="selected"
                        [(ngModel)]="selectedSortBy"
                        (selectionChange)="changeFilmSort($event.value)"
                        placeholder="Сортировать">
                <mat-option value="ASC">По алфавиту: А-Я</mat-option>
                <mat-option value="DESC">По алфавиту: Я-А</mat-option>
            </mat-select>
        </mat-form-field>
    </span>
</mat-toolbar>


<mat-grid-list cols="3" rowHeight="3:6">
    <mat-grid-tile *ngFor="let item of this.filmsArray">
        <app-film-item [filmItem]="item"
                       (toFavorite)="this.countFavorite($event)"></app-film-item>
    </mat-grid-tile>
</mat-grid-list>

<div class="gridList-footer">
    <button mat-raised-button
            color="primary"
            (click)="loadMore()">Загрузить еще
    </button>
</div>